@using Fleet_Managment_Production.ViewModels;
@model ResetPasswordViewModel;

@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>

    <script>
        setTimeout(function() {
            window.location.href = '@Url.Action("Login", "Account")';
        }, 5000);
    </script>
}