@model Fleet_Managment_Production.Models.Driver

@{
    ViewData["Title"] = "Edycja Kierowcy";
}

<h1>Edytuj Kierowcę</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>

            <div class="card p-3 mb-3 bg-light">
                <label asp-for="UserId" class="control-label fw-bold">Konto Systemowe</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">-- Brak --</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LicenseCategory" class="control-label"></label>
                <select asp-for="LicenseCategory" class="form-control" asp-items="Html.GetEnumSelectList<Fleet_Managment_Production.Models.LicenseCategory>()"></select>
                <span asp-validation-for="LicenseCategory" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>